<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title> (✧ᴗ✧✿) </title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="dist/css/main.css">
		
	</head>
	<body>
		
		<div id="app">
			<h1>What's Your Skin Type!</h1>
			<select v-model="skinChosen">	
				<option v-for="skin in skins" :value="skin"> {{ skin }} </option>
			</select>

			<ul>
				<li v-if="product.skin.includes(skinChosen)" v-for="product in products.firstCleansers">
					{{product.name}} - {{product.upvotes}} upvotes
				</li>
				<li v-if="product.skin.includes(skinChosen)" v-for="product in products.secondCleansers">
					{{product.name}} - {{product.upvotes}} upvotes
				</li>
				<li v-if="product.skin.includes(skinChosen)" v-for="product in products.hydratingToners">
					{{product.name}} - {{product.upvotes}} upvotes
				</li>
				<li v-if="product.skin.includes(skinChosen)" v-for="product in products.moisturizers">
					{{product.name}} - {{product.upvotes}} upvotes
				</li>
				<li v-if="product.skin.includes(skinChosen)" v-for="product in products.sunscreen">
					{{product.name}} - {{product.upvotes}} upvotes
				</li>
			</ul>
			

		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="dist/js/productData.js"></script>
		<script src="dist/js/main.js"></script>

	</body>
</html>
