<select v-model="skinChosen">	
    <option v-for="skin in skins" :value="skin"> {{ skin }} </option>
</select>

<ol>
    <li>
        First Cleanser
    </li>
    <ul>
        <li v-if="product.skin.includes(skinChosen)" v-for="product in products.firstCleansers">
            {{product.name}}<br>
            <a :href="product.amazon">Amazon</a>
            <a :href="product.notAmazonURL">{{product.notAmazonStore}}</a>
        </li>
        
    </ul>
    <li>
        Second Cleanser
    </li>
    <ul>
        <li v-if="product.skin.includes(skinChosen)" v-for="product in products.secondCleansers">
            {{product.name}}<br>
            <a :href="product.amazon">Amazon</a>
            <a :href="product.notAmazonURL">{{product.notAmazonStore}}</a>
        </li>
    </ul>
    <li>
        Hydrating Toner
    </li>
    <ul>
        <li v-if="product.skin.includes(skinChosen)" v-for="product in products.hydratingToners">
            {{product.name}}<br>
            <a :href="product.amazon">Amazon</a>
            <a :href="product.notAmazonURL">{{product.notAmazonStore}}</a>
        </li>
    </ul>
    <li>
        Moisturizer
    </li>
    <ul>
        <li v-if="product.skin.includes(skinChosen)" v-for="product in products.moisturizers">
            {{product.name}}<br>
            <a :href="product.amazon">Amazon</a>
            <a :href="product.notAmazonURL">{{product.notAmazonStore}}</a>
        </li>
    </ul>
    <li>
        Sunscreen
    </li>
    <ul>
        <li v-if="product.skin.includes(skinChosen)" v-for="product in products.sunscreen">
            {{product.name}}<br>
            <a :href="product.amazon">Amazon</a>
            <a :href="product.notAmazonURL">{{product.notAmazonStore}}</a>
        </li>
    </ul>
</ol>



<ul>
    <li 
        class="product-card"
        v-if="product.skin.includes(skinChosen)"
        v-for="(product, i) in products.sunscreen"
        :class="{ activeclass: product.isActive }
        
    ">
        <div>
            <h4>{{product.name}}</h4>
            <div class="img-size"><img :src="product.img"></div>
                <p>Where to buy:</p>
                <div class="links">
                <a :href="product.amazon" target="_blank">Amazon</a>
                <a :href="product.notAmazonURL" target="_blank">{{product.notAmazonStore}}</a>
            </div>
            <p>Ingredients:</p>
                <a :href="product.cosDNALink" target="_blank">CosDNA Analysis</a>
                <a :href="product.skincarismaLink" target="_blank">Skincarisma Analysis</a>
        </div>
        <button @click="toggle(product)">Show more</button>
        <div v-if="product.isActive">
            {{product.ingredients}}
        </div>

    </li>
</ul>