/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Alegreya|Montserrat');

$headerText: "Alegreya";
$bodyText: "Montserrat";



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}

.wrapper{
	width: 80%;	
	background: pink;
	margin: 0 auto;
	height: 100vh;
	font-family: $bodyText;
	font-size: 20px;

	h1{
		font-family: $headerText;
		font-size: 5em;
		padding: 30px;
	}
}




/* 2. Content ================================= */


#app {
	ol {
		li {
			padding: 15px;
			margin: 15px;
			background: white;
		}
	}


	p{
		padding: .75em 30px;
	}

	h2{
		font-family: $headerText;
		font-size: 3em;
		padding: 30px;
	}

	.fade-enter-active, .fade-leave-active {
		transition-property: opacity;
		transition-duration: .25s;
	}

	.fade-enter-active {
		transition-delay: .25s;
	}
	
	.fade-enter, .fade-leave-active {
		opacity: 0
	}
}