/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Alegreya|Montserrat|Princess+Sofia|Gloria+Hallelujah|Raleway');

$headerText: "Alegreya";
$bodyText: "Montserrat";
$linkText: "Raleway";
$headerColor: #51A7AD;
$wrapperColor: #F7A7BF;
// $wrapperColor: #F5ABB4;
$backgroundColor: #F1EDE3;

@keyframes ani-move-right{
	0% {
		transform: translateX(0%);
	}
	20%{
		transform: translateX(-25%);
	}
	30%{
		transform: translateX(25%);
	}
	40%{
		transform: translateX(50%);
	}
	50%{
		transform: translateX(0%);
	}	
	60%{
		transform: translateX(25%);
	}
	70%{
		transform: translateX(50%);
	}
	80%{
		transform: translateX(0%);
	}	
}

@keyframes ani-move-left{
	0% {
		transform: translateX(0%);
	}
	20%{
		transform: translateX(25%);
	}
	30%{
		transform: translateX(-25%);
	}
	40%{
		transform: translateX(-50%);
	}
	50%{
		transform: translateX(0%);
	}	
	60%{
		transform: translateX(-25%);
	}
	70%{
		transform: translateX(-50%);
	}
	70%{
		transform: translateX(-50%);
	}
	80%{
		transform: translateX(0%);
	}	
}



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $backgroundColor;
}

.wrapper{
	width: 80%;	
	background: $wrapperColor;
	margin: 0 auto;
	font-family: $bodyText;
	font-size: 20px;

	h1{
		font-family: "Princess Sofia";
		font-size: 4em;
		padding: 30px;
	}

	.logo{
		display: flex;
		justify-content: center;
		align-items: center;
		background: $backgroundColor;

		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
}




/* 2. Content ================================= */


#app {
	padding-bottom: 30px;

	.product-list{
		display: flex;
		justify-content: space-evenly;
	
		.product-card {
			padding: 15px;
			margin: 15px;
			background: white;
			display: flex;
			flex-direction: column;
			width: 30%;
		}

		.active{
			display: block;
			height: auto;
		}

		.btn-more-ingredients{
			width: fit-content;
			padding: 10px;
			justify-content: center; 
			margin: auto;
		}

		h4{
			font-family: $headerText;
			color: $headerColor;
			font-size: 1.2em;
			text-align: center;
			padding-bottom: 10px;
		}

		.links{
			display: flex;
			justify-content: space-around;
			padding-bottom: 20px;
		}

		p{
			padding: 0px 0px 10px;
		}

		a{
			padding: 5px;	
			position: relative;
			display: block;
		}

		.img-size{
			display: flex;
			justify-content: center; 
			align-items: center; 
			width: 220px;
			height: 220px;
			margin: auto;

			img{
				max-width: 100%;
				max-height: 100%;
			}
		}

		small{
			padding: 5px 0px;
			font-size: 12px;
			font-family: verdana;
		}

		.btn-more-ingredients {
			align-content: center;
			padding: 10px 25px;
			font-family: "raleway", sans-serif;
			margin: 10px;
			background: transparent;
			cursor: pointer;
			transition: all 0.3s ease;
			position: relative;
			display: inline-block;
			border: 2px solid #000;
			font-size: 18px;
	
			&:hover {
				background: #000;
				color: #fff;
			}
		}	

		a{
			position: relative;
			display: inline-block;
			font-size: 20px;
			font-weight: 300;
			color: #eb1777;
			transition: color .2s ease;
			padding: 3px 0;
			margin-bottom: 15px;
			text-decoration: none;
			width: fit-content;
	
			&:hover {
				color: #f7a3c9;
			}
	
			&:hover::after,
			&:hover::before {
				width: 100%;
				left: 0;
			}
	
			&::after,
			&::before {
				content: ''; 
				position: absolute;
				top: calc(100% + 5px);
				width: 0;
				right: 0;
				height: 3px;
			}
	
			&::before {
				transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
				background: #17eb21;
			}
	
			&::after {
				transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
				background: #17e1eb;
			}
		}
	}

	span{
		text-decoration: underline;
	}


	p{
		padding: .75em 30px;
	}

	

	h2{
		font-family: $headerText;
		font-size: 3em;
		padding: 30px;
	}

	h3{
		font-family: $headerText;
		color: $headerColor;
		font-size: 2em;
		padding: 10px 30px 0px;
	}

	.bold{
		font-weight: 900;
	}

	.fade-enter-active, .fade-leave-active {
		transition-property: opacity;
		transition-duration: .25s;
	}

	.fade-enter-active {
		transition-delay: .25s;
	}
	
	.fade-enter, .fade-leave-active {
		opacity: 0
	}

	.options{
		display: flex;
		justify-content: space-around;
	}

	.select-style {
		display: block;
		margin: 0 auto;
		border: 2px solid black;
		width: 85%;
		
		border-radius: 3px;
		overflow: hidden;
		background: transparent;
	

		select {
			padding: 5px 8px;
			width: 100%;
			border: none;
			box-shadow: none;
			background: transparent;
			background-image: none;
			-webkit-appearance: none;
			font-size: 20px;
		}

		select:focus {
			outline: none;
		}
	}

	.next, .previous{
		justify-content: center; 
		align-self: center; 

		&.disabled{
			visibility: hidden;
		}

		a{
			font-size: 5em;
			font-family: "Gloria Hallelujah";
			cursor: pointer;
			text-decoration: none;
			color: black;
		}
	}

	.next:hover{
		animation: ani-move-right 1s .2s;
	}

	.previous:hover{
		animation: ani-move-left 1s .2s;
	}

	.buttons{
		padding-top: 20px;
		width: 85%;
		margin: auto;
		display: flex;
		justify-content: flex-end;
		position: relative;
	}

	.home-component {
		color:#eb1777;
		background: transparent;
		border-width: 2px;
		border-style: solid;
		border-color: #eb1777;
		position:relative;
		margin: .5em;
		display: inline-block;
		padding: 0.5em 1em;
		transition: all 0.3s ease-in-out;
		text-align:center;
		font-family: "raleway";
		font-weight: bold;
		font-size: 20px;
	
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			border-color: #eb1777;
			box-sizing: border-box;
			border-style: solid;
			width: 1em;
			height: 1em;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
		}
	
		&:before {
			top: -6px;
			left: -6px;
			border-width: 2px 0 0 2px;
			z-index: 5;
		}

		&:after {
			bottom: -6px;
			right: -6px;
			border-width: 0 2px 2px 0;
		}
		&:hover:before, &:hover:after {
			width: calc(100% + 12px);
			height: calc(100% + 12px);
			border-color: #eb1777;
		}
		&:hover {
			color :#fff;
			background-color: #eb1777;
			border-color: #eb1777;
		}
	}

	.unknown-skin-link{
		color: #eb1777;
		text-align: center;
		font-size: 2.3em;
		
		&:hover{
			background: black;
		}
	}

}

